In [1]:
import datetime
import pandas as pd

from util.functions import Functions

# Disable warning
pd.options.mode.chained_assignment = None 

level = 'andamento-nazionale'
path_data = './data'
path_csv = path_data + '/csv'
file_name_out_n = path_csv + '/covid19-'  + level + '.csv'

In [2]:
url_cum = Functions.get_url_cum(level)
url_cum

'https://raw.githubusercontent.com/pcm-dpc/COVID-19/master/dati-andamento-nazionale/dpc-covid19-ita-andamento-nazionale.csv'

In [3]:
df_n_raw = pd.read_csv(url_cum)
df_n_raw

,data,stato,ricoverati_con_sintomi,terapia_intensiva,totale_ospedalizzati,isolamento_domiciliare,totale_positivi,variazione_totale_positivi,nuovi_positivi,dimessi_guariti,deceduti,casi_da_sospetto_diagnostico,casi_da_screening,totale_casi,tamponi,casi_testati,note
0,2020-02-24T18:00:00,ITA,101,26,127,94,221,0,221,1,7,NaN,NaN,229,4324,NaN,NaN
1,2020-02-25T18:00:00,ITA,114,35,150,162,311,90,93,1,10,NaN,NaN,322,8623,NaN,NaN
2,2020-02-26T18:00:00,ITA,128,36,164,221,385,74,78,3,12,NaN,NaN,400,9587,NaN,NaN
3,2020-02-27T18:00:00,ITA,248,56,304,284,588,203,250,45,17,NaN,NaN,650,12014,NaN,NaN
4,2020-02-28T18:00:00,ITA,345,64,409,412,821,233,238,46,21,NaN,NaN,888,15695,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234,2020-10-15T17:00:00,ITA,5796,586,6382,92884,99266,6821,8804,245964,36372,285569.0,96033.0,381602,13077827,7908462.0,NaN
235,2020-10-16T17:00:00,ITA,6178,638,6816,100496,107312,8046,10010,247872,36427,291410.0,100201.0,391611,13228204,8000864.0,NaN
236,2020-10-17T17:00:00,ITA,6617,705,7322,109613,116935,9623,10925,249127,36474,297983.0,104553.0,402536,13394041,8104190.0,NaN
237,2020-10-18T17:00:00,ITA,7131,750,7881,118356,126237,9302,11705,251461,36543,305260.0,108981.0,414241,13540582,8199744.0,NaN
238,2020-10-19T17:00:00,ITA,7676,797,8473,125530,134003,7766,9338,252959,36616,310881.0,112697.0,423578,13639444,8265568.0,NaN

In [4]:
# Drop unused columns
df_nd = df_n_raw.drop(['stato', 'note'], axis=1)
df_nd

,data,ricoverati_con_sintomi,terapia_intensiva,totale_ospedalizzati,isolamento_domiciliare,totale_positivi,variazione_totale_positivi,nuovi_positivi,dimessi_guariti,deceduti,casi_da_sospetto_diagnostico,casi_da_screening,totale_casi,tamponi,casi_testati
0,2020-02-24T18:00:00,101,26,127,94,221,0,221,1,7,NaN,NaN,229,4324,NaN
1,2020-02-25T18:00:00,114,35,150,162,311,90,93,1,10,NaN,NaN,322,8623,NaN
2,2020-02-26T18:00:00,128,36,164,221,385,74,78,3,12,NaN,NaN,400,9587,NaN
3,2020-02-27T18:00:00,248,56,304,284,588,203,250,45,17,NaN,NaN,650,12014,NaN
4,2020-02-28T18:00:00,345,64,409,412,821,233,238,46,21,NaN,NaN,888,15695,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234,2020-10-15T17:00:00,5796,586,6382,92884,99266,6821,8804,245964,36372,285569.0,96033.0,381602,13077827,7908462.0
235,2020-10-16T17:00:00,6178,638,6816,100496,107312,8046,10010,247872,36427,291410.0,100201.0,391611,13228204,8000864.0
236,2020-10-17T17:00:00,6617,705,7322,109613,116935,9623,10925,249127,36474,297983.0,104553.0,402536,13394041,8104190.0
237,2020-10-18T17:00:00,7131,750,7881,118356,126237,9302,11705,251461,36543,305260.0,108981.0,414241,13540582,8199744.0
238,2020-10-19T17:00:00,7676,797,8473,125530,134003,7766,9338,252959,36616,310881.0,112697.0,423578,13639444,8265568.0

In [5]:
# Add columns
df_nd['variazione_terapia_intensiva'] = df_nd['terapia_intensiva'].diff()
df_nd['variazione_ricoverati_con_sintomi'] = df_nd['ricoverati_con_sintomi'].diff()
df_nd['nuovi_dimessi_guariti'] = df_nd['dimessi_guariti'].diff()
df_nd['nuovi_deceduti'] = df_nd['deceduti'].diff()
df_nd['nuovi_tamponi'] = df_nd['tamponi'].diff()
df_nd['nuovi_casi_testati'] = df_nd['casi_testati'].diff()
df_nd

,data,ricoverati_con_sintomi,terapia_intensiva,totale_ospedalizzati,isolamento_domiciliare,totale_positivi,variazione_totale_positivi,nuovi_positivi,dimessi_guariti,deceduti,...,casi_da_screening,totale_casi,tamponi,casi_testati,variazione_terapia_intensiva,variazione_ricoverati_con_sintomi,nuovi_dimessi_guariti,nuovi_deceduti,nuovi_tamponi,nuovi_casi_testati
0,2020-02-24T18:00:00,101,26,127,94,221,0,221,1,7,...,NaN,229,4324,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-02-25T18:00:00,114,35,150,162,311,90,93,1,10,...,NaN,322,8623,NaN,9.0,13.0,0.0,3.0,4299.0,NaN
2,2020-02-26T18:00:00,128,36,164,221,385,74,78,3,12,...,NaN,400,9587,NaN,1.0,14.0,2.0,2.0,964.0,NaN
3,2020-02-27T18:00:00,248,56,304,284,588,203,250,45,17,...,NaN,650,12014,NaN,20.0,120.0,42.0,5.0,2427.0,NaN
4,2020-02-28T18:00:00,345,64,409,412,821,233,238,46,21,...,NaN,888,15695,NaN,8.0,97.0,1.0,4.0,3681.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234,2020-10-15T17:00:00,5796,586,6382,92884,99266,6821,8804,245964,36372,...,96033.0,381602,13077827,7908462.0,47.0,326.0,1899.0,83.0,162932.0,98542.0
235,2020-10-16T17:00:00,6178,638,6816,100496,107312,8046,10010,247872,36427,...,100201.0,391611,13228204,8000864.0,52.0,382.0,1908.0,55.0,150377.0,92402.0
236,2020-10-17T17:00:00,6617,705,7322,109613,116935,9623,10925,249127,36474,...,104553.0,402536,13394041,8104190.0,67.0,439.0,1255.0,47.0,165837.0,103326.0
237,2020-10-18T17:00:00,7131,750,7881,118356,126237,9302,11705,251461,36543,...,108981.0,414241,13540582,8199744.0,45.0,514.0,2334.0,69.0,146541.0,95554.0
238,2020-10-19T17:00:00,7676,797,8473,125530,134003,7766,9338,252959,36616,...,112697.0,423578,13639444,8265568.0,47.0,545.0,1498.0,73.0,98862.0,65824.0

In [6]:
df_n = df_nd.iloc[1:]
df_n

,data,ricoverati_con_sintomi,terapia_intensiva,totale_ospedalizzati,isolamento_domiciliare,totale_positivi,variazione_totale_positivi,nuovi_positivi,dimessi_guariti,deceduti,...,casi_da_screening,totale_casi,tamponi,casi_testati,variazione_terapia_intensiva,variazione_ricoverati_con_sintomi,nuovi_dimessi_guariti,nuovi_deceduti,nuovi_tamponi,nuovi_casi_testati
1,2020-02-25T18:00:00,114,35,150,162,311,90,93,1,10,...,NaN,322,8623,NaN,9.0,13.0,0.0,3.0,4299.0,NaN
2,2020-02-26T18:00:00,128,36,164,221,385,74,78,3,12,...,NaN,400,9587,NaN,1.0,14.0,2.0,2.0,964.0,NaN
3,2020-02-27T18:00:00,248,56,304,284,588,203,250,45,17,...,NaN,650,12014,NaN,20.0,120.0,42.0,5.0,2427.0,NaN
4,2020-02-28T18:00:00,345,64,409,412,821,233,238,46,21,...,NaN,888,15695,NaN,8.0,97.0,1.0,4.0,3681.0,NaN
5,2020-02-29T18:00:00,401,105,506,543,1049,228,240,50,29,...,NaN,1128,18661,NaN,41.0,56.0,4.0,8.0,2966.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234,2020-10-15T17:00:00,5796,586,6382,92884,99266,6821,8804,245964,36372,...,96033.0,381602,13077827,7908462.0,47.0,326.0,1899.0,83.0,162932.0,98542.0
235,2020-10-16T17:00:00,6178,638,6816,100496,107312,8046,10010,247872,36427,...,100201.0,391611,13228204,8000864.0,52.0,382.0,1908.0,55.0,150377.0,92402.0
236,2020-10-17T17:00:00,6617,705,7322,109613,116935,9623,10925,249127,36474,...,104553.0,402536,13394041,8104190.0,67.0,439.0,1255.0,47.0,165837.0,103326.0
237,2020-10-18T17:00:00,7131,750,7881,118356,126237,9302,11705,251461,36543,...,108981.0,414241,13540582,8199744.0,45.0,514.0,2334.0,69.0,146541.0,95554.0
238,2020-10-19T17:00:00,7676,797,8473,125530,134003,7766,9338,252959,36616,...,112697.0,423578,13639444,8265568.0,47.0,545.0,1498.0,73.0,98862.0,65824.0

In [7]:
# Add columns
df_n['np_su_nt'] = (df_n['nuovi_positivi'] / df_n['nuovi_tamponi']) * 100
df_n

,data,ricoverati_con_sintomi,terapia_intensiva,totale_ospedalizzati,isolamento_domiciliare,totale_positivi,variazione_totale_positivi,nuovi_positivi,dimessi_guariti,deceduti,...,totale_casi,tamponi,casi_testati,variazione_terapia_intensiva,variazione_ricoverati_con_sintomi,nuovi_dimessi_guariti,nuovi_deceduti,nuovi_tamponi,nuovi_casi_testati,np_su_nt
1,2020-02-25T18:00:00,114,35,150,162,311,90,93,1,10,...,322,8623,NaN,9.0,13.0,0.0,3.0,4299.0,NaN,2.163294
2,2020-02-26T18:00:00,128,36,164,221,385,74,78,3,12,...,400,9587,NaN,1.0,14.0,2.0,2.0,964.0,NaN,8.091286
3,2020-02-27T18:00:00,248,56,304,284,588,203,250,45,17,...,650,12014,NaN,20.0,120.0,42.0,5.0,2427.0,NaN,10.300783
4,2020-02-28T18:00:00,345,64,409,412,821,233,238,46,21,...,888,15695,NaN,8.0,97.0,1.0,4.0,3681.0,NaN,6.465634
5,2020-02-29T18:00:00,401,105,506,543,1049,228,240,50,29,...,1128,18661,NaN,41.0,56.0,4.0,8.0,2966.0,NaN,8.091706
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234,2020-10-15T17:00:00,5796,586,6382,92884,99266,6821,8804,245964,36372,...,381602,13077827,7908462.0,47.0,326.0,1899.0,83.0,162932.0,98542.0,5.403481
235,2020-10-16T17:00:00,6178,638,6816,100496,107312,8046,10010,247872,36427,...,391611,13228204,8000864.0,52.0,382.0,1908.0,55.0,150377.0,92402.0,6.656603
236,2020-10-17T17:00:00,6617,705,7322,109613,116935,9623,10925,249127,36474,...,402536,13394041,8104190.0,67.0,439.0,1255.0,47.0,165837.0,103326.0,6.587794
237,2020-10-18T17:00:00,7131,750,7881,118356,126237,9302,11705,251461,36543,...,414241,13540582,8199744.0,45.0,514.0,2334.0,69.0,146541.0,95554.0,7.987526
238,2020-10-19T17:00:00,7676,797,8473,125530,134003,7766,9338,252959,36616,...,423578,13639444,8265568.0,47.0,545.0,1498.0,73.0,98862.0,65824.0,9.445490

In [8]:
df_n.to_csv(file_name_out_n, index=False)