In [17]:
import datetime
import pandas as pd

from util.functions import Functions

# Disable warning
pd.options.mode.chained_assignment = None 

level = 'andamento-nazionale'
path_data = './data'
path_csv = path_data + '/csv'
file_name_out_n = path_csv + '/covid19-'  + level + '.csv'

In [18]:
url_cum = Functions.get_url_cum(level)
url_cum

'https://raw.githubusercontent.com/pcm-dpc/COVID-19/master/dati-andamento-nazionale/dpc-covid19-ita-andamento-nazionale.csv'

In [19]:
df_n_raw = pd.read_csv(url_cum)
df_n_raw

,data,stato,ricoverati_con_sintomi,terapia_intensiva,totale_ospedalizzati,isolamento_domiciliare,totale_positivi,variazione_totale_positivi,nuovi_positivi,dimessi_guariti,deceduti,casi_da_sospetto_diagnostico,casi_da_screening,totale_casi,tamponi,casi_testati,note
0,2020-02-24T18:00:00,ITA,101,26,127,94,221,0,221,1,7,NaN,NaN,229,4324,NaN,NaN
1,2020-02-25T18:00:00,ITA,114,35,150,162,311,90,93,1,10,NaN,NaN,322,8623,NaN,NaN
2,2020-02-26T18:00:00,ITA,128,36,164,221,385,74,78,3,12,NaN,NaN,400,9587,NaN,NaN
3,2020-02-27T18:00:00,ITA,248,56,304,284,588,203,250,45,17,NaN,NaN,650,12014,NaN,NaN
4,2020-02-28T18:00:00,ITA,345,64,409,412,821,233,238,46,21,NaN,NaN,888,15695,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
241,2020-10-22T17:00:00,ITA,9694,992,10686,158616,169302,13860,16079,259456,36968,333450.0,132276.0,465726,14132421,8564608.0,NaN
242,2020-10-23T17:00:00,ITA,10549,1049,11598,174404,186002,16700,19143,261808,37059,344414.0,140455.0,484869,14314453,8679107.0,NaN
243,2020-10-24T17:00:00,ITA,11287,1128,12415,190767,203182,17180,19644,264117,37210,355768.0,148741.0,504509,14492122,8788780.0,NaN
244,2020-10-25T17:00:00,ITA,12006,1208,13214,209027,222241,19059,21273,266203,37338,369359.0,156423.0,525782,14654002,8890656.0,NaN
245,2020-10-26T17:00:00,ITA,12997,1284,14281,222403,236684,14443,17012,268626,37479,378783.0,164006.0,542789,14778688,8969472.0,NaN

In [20]:
# Drop unused columns
df_nd = df_n_raw.drop(['stato', 'note'], axis=1)
df_nd

,data,ricoverati_con_sintomi,terapia_intensiva,totale_ospedalizzati,isolamento_domiciliare,totale_positivi,variazione_totale_positivi,nuovi_positivi,dimessi_guariti,deceduti,casi_da_sospetto_diagnostico,casi_da_screening,totale_casi,tamponi,casi_testati
0,2020-02-24T18:00:00,101,26,127,94,221,0,221,1,7,NaN,NaN,229,4324,NaN
1,2020-02-25T18:00:00,114,35,150,162,311,90,93,1,10,NaN,NaN,322,8623,NaN
2,2020-02-26T18:00:00,128,36,164,221,385,74,78,3,12,NaN,NaN,400,9587,NaN
3,2020-02-27T18:00:00,248,56,304,284,588,203,250,45,17,NaN,NaN,650,12014,NaN
4,2020-02-28T18:00:00,345,64,409,412,821,233,238,46,21,NaN,NaN,888,15695,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
241,2020-10-22T17:00:00,9694,992,10686,158616,169302,13860,16079,259456,36968,333450.0,132276.0,465726,14132421,8564608.0
242,2020-10-23T17:00:00,10549,1049,11598,174404,186002,16700,19143,261808,37059,344414.0,140455.0,484869,14314453,8679107.0
243,2020-10-24T17:00:00,11287,1128,12415,190767,203182,17180,19644,264117,37210,355768.0,148741.0,504509,14492122,8788780.0
244,2020-10-25T17:00:00,12006,1208,13214,209027,222241,19059,21273,266203,37338,369359.0,156423.0,525782,14654002,8890656.0
245,2020-10-26T17:00:00,12997,1284,14281,222403,236684,14443,17012,268626,37479,378783.0,164006.0,542789,14778688,8969472.0

In [21]:
# Add columns
df_nd['variazione_terapia_intensiva'] = df_nd['terapia_intensiva'].diff()
df_nd['variazione_ricoverati_con_sintomi'] = df_nd['ricoverati_con_sintomi'].diff()
df_nd['variazione_totale_ospedalizzati'] = df_nd['totale_ospedalizzati'].diff()
df_nd['nuovi_dimessi_guariti'] = df_nd['dimessi_guariti'].diff()
df_nd['nuovi_deceduti'] = df_nd['deceduti'].diff()
df_nd['nuovi_tamponi'] = df_nd['tamponi'].diff()
df_nd['nuovi_casi_testati'] = df_nd['casi_testati'].diff()
df_nd

,data,ricoverati_con_sintomi,terapia_intensiva,totale_ospedalizzati,isolamento_domiciliare,totale_positivi,variazione_totale_positivi,nuovi_positivi,dimessi_guariti,deceduti,...,totale_casi,tamponi,casi_testati,variazione_terapia_intensiva,variazione_ricoverati_con_sintomi,variazione_totale_ospedalizzati,nuovi_dimessi_guariti,nuovi_deceduti,nuovi_tamponi,nuovi_casi_testati
0,2020-02-24T18:00:00,101,26,127,94,221,0,221,1,7,...,229,4324,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-02-25T18:00:00,114,35,150,162,311,90,93,1,10,...,322,8623,NaN,9.0,13.0,23.0,0.0,3.0,4299.0,NaN
2,2020-02-26T18:00:00,128,36,164,221,385,74,78,3,12,...,400,9587,NaN,1.0,14.0,14.0,2.0,2.0,964.0,NaN
3,2020-02-27T18:00:00,248,56,304,284,588,203,250,45,17,...,650,12014,NaN,20.0,120.0,140.0,42.0,5.0,2427.0,NaN
4,2020-02-28T18:00:00,345,64,409,412,821,233,238,46,21,...,888,15695,NaN,8.0,97.0,105.0,1.0,4.0,3681.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
241,2020-10-22T17:00:00,9694,992,10686,158616,169302,13860,16079,259456,36968,...,465726,14132421,8564608.0,66.0,637.0,703.0,2082.0,136.0,170392.0,104872.0
242,2020-10-23T17:00:00,10549,1049,11598,174404,186002,16700,19143,261808,37059,...,484869,14314453,8679107.0,57.0,855.0,912.0,2352.0,91.0,182032.0,114499.0
243,2020-10-24T17:00:00,11287,1128,12415,190767,203182,17180,19644,264117,37210,...,504509,14492122,8788780.0,79.0,738.0,817.0,2309.0,151.0,177669.0,109673.0
244,2020-10-25T17:00:00,12006,1208,13214,209027,222241,19059,21273,266203,37338,...,525782,14654002,8890656.0,80.0,719.0,799.0,2086.0,128.0,161880.0,101876.0
245,2020-10-26T17:00:00,12997,1284,14281,222403,236684,14443,17012,268626,37479,...,542789,14778688,8969472.0,76.0,991.0,1067.0,2423.0,141.0,124686.0,78816.0

In [ ]:
df_n = df_nd.iloc[1:]
df_n

In [ ]:
# Add columns
df_n['ti_su_to'] = ((df_n['terapia_intensiva'] / df_n['totale_ospedalizzati']) * 100).round(2)
df_n['to_su_tp'] = ((df_n['totale_ospedalizzati'] / df_n['totale_positivi']) * 100).round(2)
df_n['np_su_nt'] = ((df_n['nuovi_positivi'] / df_n['nuovi_tamponi']) * 100).round(2)
df_n['np_su_nct'] = ((df_n['nuovi_positivi'] / df_n['nuovi_casi_testati']) * 100).round(2)
df_n['var_ti_perc'] = ((df_n['variazione_terapia_intensiva'] / (df_n['terapia_intensiva'] - df_n['variazione_terapia_intensiva'])) * 100).round(2)
df_n['var_pos_perc'] = ((df_n['nuovi_positivi'] / (df_n['totale_positivi'] - df_n['nuovi_positivi'] + df_n['nuovi_dimessi_guariti'] + df_n['nuovi_deceduti'])) * 100).round(3)
df_n

In [ ]:
df_n.to_csv(file_name_out_n, index=False)