In [1]:
import datetime
import pandas as pd

from util.functions import Functions

# Disable warning
pd.options.mode.chained_assignment = None 

level = 'andamento-nazionale'

path_data = './data'
path_csv = '{path_data}/csv'.format(path_data=path_data)
csv_out_name = '{path_csv}/covid19-{level}.csv'.format(path_csv=path_csv, level=level)

In [2]:
url_cum = Functions.get_url_cum(level)
url_cum

'https://raw.githubusercontent.com/pcm-dpc/COVID-19/master/dati-andamento-nazionale/dpc-covid19-ita-andamento-nazionale.csv'

In [3]:
df_n_raw = pd.read_csv(url_cum)
df_n_raw

,data,stato,ricoverati_con_sintomi,terapia_intensiva,totale_ospedalizzati,isolamento_domiciliare,totale_positivi,variazione_totale_positivi,nuovi_positivi,dimessi_guariti,deceduti,casi_da_sospetto_diagnostico,casi_da_screening,totale_casi,tamponi,casi_testati,note
0,2020-02-24T18:00:00,ITA,101,26,127,94,221,0,221,1,7,NaN,NaN,229,4324,NaN,NaN
1,2020-02-25T18:00:00,ITA,114,35,150,162,311,90,93,1,10,NaN,NaN,322,8623,NaN,NaN
2,2020-02-26T18:00:00,ITA,128,36,164,221,385,74,78,3,12,NaN,NaN,400,9587,NaN,NaN
3,2020-02-27T18:00:00,ITA,248,56,304,284,588,203,250,45,17,NaN,NaN,650,12014,NaN,NaN
4,2020-02-28T18:00:00,ITA,345,64,409,412,821,233,238,46,21,NaN,NaN,888,15695,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
252,2020-11-02T17:00:00,ITA,19840,2022,21862,374650,396512,18383,22253,296017,39059,487976.0,243612.0,731588,16103649,9783603.0,NaN
253,2020-11-03T17:00:00,ITA,21114,2225,23339,394803,418142,21630,28244,302275,39412,503468.0,256361.0,759829,16285936,9893535.0,NaN
254,2020-11-04T17:00:00,ITA,22116,2292,24408,418827,443235,25093,30550,307378,39747,520799.0,269578.0,790377,16497767,10021035.0,NaN
255,2020-11-05T17:00:00,ITA,23256,2391,25647,446701,472348,29113,34505,312339,40192,541173.0,283706.0,824879,16717651,10155585.0,NaN
256,2020-11-06T17:00:00,ITA,24005,2515,26520,472598,499118,26770,37809,322925,40638,562010.0,300671.0,862681,16951896,10290151.0,NaN

In [4]:
# Drop unused columns
df_nd = df_n_raw.drop(['stato', 'note'], axis=1)
df_nd

,data,ricoverati_con_sintomi,terapia_intensiva,totale_ospedalizzati,isolamento_domiciliare,totale_positivi,variazione_totale_positivi,nuovi_positivi,dimessi_guariti,deceduti,casi_da_sospetto_diagnostico,casi_da_screening,totale_casi,tamponi,casi_testati
0,2020-02-24T18:00:00,101,26,127,94,221,0,221,1,7,NaN,NaN,229,4324,NaN
1,2020-02-25T18:00:00,114,35,150,162,311,90,93,1,10,NaN,NaN,322,8623,NaN
2,2020-02-26T18:00:00,128,36,164,221,385,74,78,3,12,NaN,NaN,400,9587,NaN
3,2020-02-27T18:00:00,248,56,304,284,588,203,250,45,17,NaN,NaN,650,12014,NaN
4,2020-02-28T18:00:00,345,64,409,412,821,233,238,46,21,NaN,NaN,888,15695,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
252,2020-11-02T17:00:00,19840,2022,21862,374650,396512,18383,22253,296017,39059,487976.0,243612.0,731588,16103649,9783603.0
253,2020-11-03T17:00:00,21114,2225,23339,394803,418142,21630,28244,302275,39412,503468.0,256361.0,759829,16285936,9893535.0
254,2020-11-04T17:00:00,22116,2292,24408,418827,443235,25093,30550,307378,39747,520799.0,269578.0,790377,16497767,10021035.0
255,2020-11-05T17:00:00,23256,2391,25647,446701,472348,29113,34505,312339,40192,541173.0,283706.0,824879,16717651,10155585.0
256,2020-11-06T17:00:00,24005,2515,26520,472598,499118,26770,37809,322925,40638,562010.0,300671.0,862681,16951896,10290151.0

In [5]:
# Add columns
df_nd['variazione_terapia_intensiva'] = df_nd['terapia_intensiva'].diff()
df_nd['variazione_ricoverati_con_sintomi'] = df_nd['ricoverati_con_sintomi'].diff()
df_nd['variazione_totale_ospedalizzati'] = df_nd['totale_ospedalizzati'].diff()
df_nd['nuovi_dimessi_guariti'] = df_nd['dimessi_guariti'].diff()
df_nd['nuovi_deceduti'] = df_nd['deceduti'].diff()
df_nd['nuovi_tamponi'] = df_nd['tamponi'].diff()
df_nd['nuovi_casi_testati'] = df_nd['casi_testati'].diff()
df_nd

,data,ricoverati_con_sintomi,terapia_intensiva,totale_ospedalizzati,isolamento_domiciliare,totale_positivi,variazione_totale_positivi,nuovi_positivi,dimessi_guariti,deceduti,...,totale_casi,tamponi,casi_testati,variazione_terapia_intensiva,variazione_ricoverati_con_sintomi,variazione_totale_ospedalizzati,nuovi_dimessi_guariti,nuovi_deceduti,nuovi_tamponi,nuovi_casi_testati
0,2020-02-24T18:00:00,101,26,127,94,221,0,221,1,7,...,229,4324,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-02-25T18:00:00,114,35,150,162,311,90,93,1,10,...,322,8623,NaN,9.0,13.0,23.0,0.0,3.0,4299.0,NaN
2,2020-02-26T18:00:00,128,36,164,221,385,74,78,3,12,...,400,9587,NaN,1.0,14.0,14.0,2.0,2.0,964.0,NaN
3,2020-02-27T18:00:00,248,56,304,284,588,203,250,45,17,...,650,12014,NaN,20.0,120.0,140.0,42.0,5.0,2427.0,NaN
4,2020-02-28T18:00:00,345,64,409,412,821,233,238,46,21,...,888,15695,NaN,8.0,97.0,105.0,1.0,4.0,3681.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
252,2020-11-02T17:00:00,19840,2022,21862,374650,396512,18383,22253,296017,39059,...,731588,16103649,9783603.0,83.0,938.0,1021.0,3637.0,233.0,135731.0,87663.0
253,2020-11-03T17:00:00,21114,2225,23339,394803,418142,21630,28244,302275,39412,...,759829,16285936,9893535.0,203.0,1274.0,1477.0,6258.0,353.0,182287.0,109932.0
254,2020-11-04T17:00:00,22116,2292,24408,418827,443235,25093,30550,307378,39747,...,790377,16497767,10021035.0,67.0,1002.0,1069.0,5103.0,335.0,211831.0,127500.0
255,2020-11-05T17:00:00,23256,2391,25647,446701,472348,29113,34505,312339,40192,...,824879,16717651,10155585.0,99.0,1140.0,1239.0,4961.0,445.0,219884.0,134550.0
256,2020-11-06T17:00:00,24005,2515,26520,472598,499118,26770,37809,322925,40638,...,862681,16951896,10290151.0,124.0,749.0,873.0,10586.0,446.0,234245.0,134566.0

In [6]:
df_n = df_nd.iloc[1:]
df_n

,data,ricoverati_con_sintomi,terapia_intensiva,totale_ospedalizzati,isolamento_domiciliare,totale_positivi,variazione_totale_positivi,nuovi_positivi,dimessi_guariti,deceduti,...,totale_casi,tamponi,casi_testati,variazione_terapia_intensiva,variazione_ricoverati_con_sintomi,variazione_totale_ospedalizzati,nuovi_dimessi_guariti,nuovi_deceduti,nuovi_tamponi,nuovi_casi_testati
1,2020-02-25T18:00:00,114,35,150,162,311,90,93,1,10,...,322,8623,NaN,9.0,13.0,23.0,0.0,3.0,4299.0,NaN
2,2020-02-26T18:00:00,128,36,164,221,385,74,78,3,12,...,400,9587,NaN,1.0,14.0,14.0,2.0,2.0,964.0,NaN
3,2020-02-27T18:00:00,248,56,304,284,588,203,250,45,17,...,650,12014,NaN,20.0,120.0,140.0,42.0,5.0,2427.0,NaN
4,2020-02-28T18:00:00,345,64,409,412,821,233,238,46,21,...,888,15695,NaN,8.0,97.0,105.0,1.0,4.0,3681.0,NaN
5,2020-02-29T18:00:00,401,105,506,543,1049,228,240,50,29,...,1128,18661,NaN,41.0,56.0,97.0,4.0,8.0,2966.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
252,2020-11-02T17:00:00,19840,2022,21862,374650,396512,18383,22253,296017,39059,...,731588,16103649,9783603.0,83.0,938.0,1021.0,3637.0,233.0,135731.0,87663.0
253,2020-11-03T17:00:00,21114,2225,23339,394803,418142,21630,28244,302275,39412,...,759829,16285936,9893535.0,203.0,1274.0,1477.0,6258.0,353.0,182287.0,109932.0
254,2020-11-04T17:00:00,22116,2292,24408,418827,443235,25093,30550,307378,39747,...,790377,16497767,10021035.0,67.0,1002.0,1069.0,5103.0,335.0,211831.0,127500.0
255,2020-11-05T17:00:00,23256,2391,25647,446701,472348,29113,34505,312339,40192,...,824879,16717651,10155585.0,99.0,1140.0,1239.0,4961.0,445.0,219884.0,134550.0
256,2020-11-06T17:00:00,24005,2515,26520,472598,499118,26770,37809,322925,40638,...,862681,16951896,10290151.0,124.0,749.0,873.0,10586.0,446.0,234245.0,134566.0

In [7]:
# Add columns
df_n['ti_su_to'] = ((df_n['terapia_intensiva'] / df_n['totale_ospedalizzati']) * 100).round(2)
df_n['to_su_tp'] = ((df_n['totale_ospedalizzati'] / df_n['totale_positivi']) * 100).round(2)
df_n['np_su_nt'] = ((df_n['nuovi_positivi'] / df_n['nuovi_tamponi']) * 100).round(2)
df_n['np_su_nct'] = ((df_n['nuovi_positivi'] / df_n['nuovi_casi_testati']) * 100).round(2)
df_n['var_ti_perc'] = ((df_n['variazione_terapia_intensiva'] / (df_n['terapia_intensiva'] - df_n['variazione_terapia_intensiva'])) * 100).round(2)
df_n['var_pos_perc'] = ((df_n['nuovi_positivi'] / (df_n['totale_positivi'] - df_n['nuovi_positivi'] + df_n['nuovi_dimessi_guariti'] + df_n['nuovi_deceduti'])) * 100).round(3)
df_n

,data,ricoverati_con_sintomi,terapia_intensiva,totale_ospedalizzati,isolamento_domiciliare,totale_positivi,variazione_totale_positivi,nuovi_positivi,dimessi_guariti,deceduti,...,nuovi_dimessi_guariti,nuovi_deceduti,nuovi_tamponi,nuovi_casi_testati,ti_su_to,to_su_tp,np_su_nt,np_su_nct,var_ti_perc,var_pos_perc
1,2020-02-25T18:00:00,114,35,150,162,311,90,93,1,10,...,0.0,3.0,4299.0,NaN,23.33,48.23,2.16,NaN,34.62,42.081
2,2020-02-26T18:00:00,128,36,164,221,385,74,78,3,12,...,2.0,2.0,964.0,NaN,21.95,42.60,8.09,NaN,2.86,25.080
3,2020-02-27T18:00:00,248,56,304,284,588,203,250,45,17,...,42.0,5.0,2427.0,NaN,18.42,51.70,10.30,NaN,55.56,64.935
4,2020-02-28T18:00:00,345,64,409,412,821,233,238,46,21,...,1.0,4.0,3681.0,NaN,15.65,49.82,6.47,NaN,14.29,40.476
5,2020-02-29T18:00:00,401,105,506,543,1049,228,240,50,29,...,4.0,8.0,2966.0,NaN,20.75,48.24,8.09,NaN,64.06,29.233
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
252,2020-11-02T17:00:00,19840,2022,21862,374650,396512,18383,22253,296017,39059,...,3637.0,233.0,135731.0,87663.0,9.25,5.51,16.39,25.38,4.28,5.885
253,2020-11-03T17:00:00,21114,2225,23339,394803,418142,21630,28244,302275,39412,...,6258.0,353.0,182287.0,109932.0,9.53,5.58,15.49,25.69,10.04,7.123
254,2020-11-04T17:00:00,22116,2292,24408,418827,443235,25093,30550,307378,39747,...,5103.0,335.0,211831.0,127500.0,9.39,5.51,14.42,23.96,3.01,7.306
255,2020-11-05T17:00:00,23256,2391,25647,446701,472348,29113,34505,312339,40192,...,4961.0,445.0,219884.0,134550.0,9.32,5.43,15.69,25.64,4.32,7.785
256,2020-11-06T17:00:00,24005,2515,26520,472598,499118,26770,37809,322925,40638,...,10586.0,446.0,234245.0,134566.0,9.48,5.31,16.14,28.10,5.19,8.005

In [8]:
df_n.to_csv(csv_out_name, index=False)